

<div class="blankmenuiconblock innerhead1" id="scrolltotopwrapper">
  <app-header></app-header>
  <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/shatterproofmodelslogo.png" alt="Shatter Proof Models Logo">
      </div>
    </div>
  </div>
</div>
<app-sidemenu></app-sidemenu>

<div class="modelprofilemaindiv" *ngIf="model">
  <div class="container-fluid modelprofileblock">
    <div> <!--ng-controller="MainCtrl"-->
      <div class="modelbigimgwrapper">
        <div class="modelprofileinfo">
          <h2>{{model.name}}</h2>
          <div class="doubleborders"></div>
          <form class="modelprofileform form-inline">
            <div class="form-row">
              <div class="form-group">
                <label class="control-label">Name:</label>
                <span class="form-control">{{model.name}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Location:</label>
                <span class="form-control">{{model.location}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Height:</label>
                <span class="form-control">{{model.height}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Weight:</label>
                <span class="form-control">{{model.weight}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Bust:</label>
                <span class="form-control">{{model.bust}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Waist:</label>
                <span class="form-control">{{model.waist}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Hips:</label>
                <span class="form-control">{{model.hips}}</span>
              </div>
              <div class="form-group">
                <label class="control-label">Ethnicity:</label>
                <span class="form-control">{{model.ethnicity}}</span>
              </div>

              <!-- <div class="form-group languagesection">
                <span class="form-control">(Arabic)</span>
              </div>-->
              <div class="form-group instagramsection">
                <span class="form-control" ><a href="https://www.instagram.com/{{(model.instagramlink)}}" target="_blank"><i class="fa fa-instagram"></i>{{model.instagramlink}}</a></span>
                <span class="form-control" *ngIf="model.twitterlink"><a href="https://twitter.com/{{(model.twitterlink)}}" target="_blank"><i class="fa fa-twitter"></i>@{{model.twitterlink}}</a></span>
                <span class="form-control" *ngIf="model.facebooklink"><a href="https://www.facebook.com/{{(model.facebooklink)}}" target="_blank"><i class="fa fa-facebook"></i>{{model.facebooklink}}</a></span>
                <span class="form-control" *ngIf="model.modelmayhemlink"><a href="https://{{(model.modelmayhemlink)}}" target="_blank"><img src="../../assets/images/instagram-icon4.png" class="instaicon">{{(model.modelmayhemlink)}}</a></span>
              </div>

            </div>

            <div class="doubleborders"></div>
            <div class="form-row btnyellowmt20">
              <a class="btnyellow" [routerLink]="['/our-models-talent']">View All Models</a>
            </div>

           <!-- <div class="doubleborders"></div>
            <div class="form-row">
              <h3>Digital Resume</h3>
              <div class="magazineimgwarpper"><a><img src="../assets/images/modelprofileform-magazineimg.jpg" alt="modelprofileform-magazineimg"></a></div>
            </div>-->
          </form>
        </div>

        <div class="modelbigimg">
          <!-- Full-width images with number text -->
          <div class="modelbigimgouter">
<!--          <drag-scroll #imgbig>-->
            <div class="modelbigimginnerwarpper" data-toggle="modal" (click)="modelimg(imgbig1)" data-target="#fullscreenimgmodal">
              <img drag-scroll-item  src="{{apiservice.uplodeimg_url}}{{imgbig1}}" alt="modelmodelbigimg1">
            </div>


         <!-- </drag-scroll>
          &lt;!&ndash; Next and previous buttons &ndash;&gt;
          <a class="prev" (click)="movebigLeft()">&#10094;</a>
          <a class="next" (click)="movebigRight()">&#10095;</a>-->
          </div>

        </div>

      </div>
      <div class="modelthumbimgwrapper">
        <div class="modelthumbimgouterwrapper">
          <div class="modelthumbimgouter">
           <!-- <div class="modelthumbimg">
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg1.jpg" onclick="currentSlide(1)" alt="modelmodelthumbimg1">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg2.jpg" onclick="currentSlide(2)" alt="modelmodelthumbimg2">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg3.jpg" onclick="currentSlide(3)" alt="modelmodelthumbimg3">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg4.jpg" onclick="currentSlide(4)" alt="modelmodelthumbimg4">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg5.jpg" onclick="currentSlide(5)" alt="modelmodelthumbimg5">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg6.jpg" onclick="currentSlide(6)" alt="modelmodelthumbimg6">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg7.jpg" onclick="currentSlide(7)" alt="modelmodelthumbimg7">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg8.jpg" onclick="currentSlide(8)" alt="modelmodelthumbimg8">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg1.jpg" onclick="currentSlide(1)" alt="modelmodelthumbimg1">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg2.jpg" onclick="currentSlide(2)" alt="modelmodelthumbimg2">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg3.jpg" onclick="currentSlide(3)" alt="modelmodelthumbimg3">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg4.jpg" onclick="currentSlide(4)" alt="modelmodelthumbimg4">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg5.jpg" onclick="currentSlide(5)" alt="modelmodelthumbimg5">
              </div>
              &lt;!&ndash; Next and previous buttons &ndash;&gt;
              <a class="prev" onclick="previousslide()">&#10094;</a>
              <a class="next" onclick="nextslide()">&#10095;</a>
            </div>-->
            <drag-scroll #imgsmall >
              <div class="modelthumbimginnerwarpper" *ngFor="let x of model.images">
                <img (click)="imgClick(x)" drag-scroll-item class="demo cursor" src="{{apiservice.uplodeimg_url}}{{[x]}}" alt="modelmodelthumbimg1">
              </div>
              <!--<div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg2.jpg" alt="modelmodelthumbimg2">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg3.jpg" alt="modelmodelthumbimg3">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg4.jpg" alt="modelmodelthumbimg4">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg5.jpg" alt="modelmodelthumbimg5">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg6.jpg" alt="modelmodelthumbimg6">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg7.jpg" alt="modelmodelthumbimg7">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg8.jpg" alt="modelmodelthumbimg8">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg1.jpg" alt="modelmodelthumbimg1">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg2.jpg" alt="modelmodelthumbimg2">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg3.jpg" alt="modelmodelthumbimg3">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg4.jpg" alt="modelmodelthumbimg4">
              </div>
              <div class="modelthumbimginnerwarpper">
                <img drag-scroll-item class="demo cursor" src="../assets/images/modelthumbimg/modelthumbimg5.jpg" alt="modelmodelthumbimg5">
              </div>-->
            </drag-scroll>
            <a class="prev" (click)="moveLeft()">&#10094;</a>
            <a class="next" (click)="moveRight()">&#10095;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade modaldefault animated bounceIn" id="fullscreenimgmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-content">

      <div class="modal-body">
        <drag-scroll #imgbig>
          <div class="fullscreenimagewrapper" data-toggle="modal" *ngFor="let x of model.images" (click)="mimg(x)">
            <img drag-scroll-item  src="{{apiservice.uplodeimg_url}}{{x}}" alt="modelmodelbigimg1">
          </div>
          <!-- <div class="fullscreenimagewrapper" data-toggle="modal">
               <img drag-scroll-item src="../assets/images/modelbigimg/modelmodelbigimg2.jpg" alt="modelmodelbigimg2">
           </div>-->

        </drag-scroll>
        <!-- Next and previous buttons -->
        <a class="prev" (click)="movebigLeft()">&#10094;</a>
        <a class="next" (click)="movebigRight()">&#10095;</a>


        <!--<div class="fullscreenimagewrapper">
            <img src="../assets/images/modelbigimg/modelmodelbigimg1.jpg" alt="modelmodelbigimg1">
        </div>-->

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<app-footer></app-footer>


<script type="text/javascript">

 /* var slideIndex = 1;

  function plusSlides(n) {
      showSlides(slideIndex += n);
  }

  function currentSlide(n) {
      showSlides(slideIndex = n);
  }

  function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("modelbigimginnerwarpper");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
  }*/

</script>

