<div class="wrap">
  <div id="newmySidenav" class="newsidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <ul class="sidemenuleftposition">
    <li class="active"><a [routerLink]="['/']">Home<i class="fa fa-chevron-right"></i></a></li>
    <li><!--<a href="javascript:void(0)">Who we are <i class="fa fa-chevron-right"></i></a>-->
      <a [routerLink]="['/whoweare']" class="opensubsidemenu" onclick="opensubsidemenu1()">Who we are<i class="fa fa-chevron-right"></i></a>
      <ul id="subsidemenuDropdown1" class="newsubsidemenu">
       <!-- <li class="active"><a >About us<i class="fa fa-chevron-right"></i></a></li>-->
        <li><a [routerLink]="['/partners']">Partners<i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/model-marketing']" class="opensubsidemenu" onclick="opensubsidemenu()">Model Management<i class="fa fa-chevron-right"></i></a>
      <ul id="subsidemenuDropdown" class="newsubsidemenu">
        <!--<li class="active"><a [routerLink]="['/events/']">Events<i class="fa fa-chevron-right"></i></a></li>-->
        <li><a [routerLink]="['/our-models']">our models<i class="fa fa-chevron-right"></i></a></li>
        <li><a [routerLink]="['/become-a-model']">Become a Model<i class="fa fa-chevron-right"></i></a></li>
        <!--<li><a [routerLink]="['/model-marketing/']">model marketing<i class="fa fa-chevron-right"></i></a></li>-->
        <li><a [routerLink]="['/musicvideos']">Music Video<i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/marketing-management']">Marketing Management <i class="fa fa-chevron-right"></i></a></li>
    <li><a [routerLink]="['/music-management']">Music Management <i class="fa fa-chevron-right"></i></a></li>
    <li><a [routerLink]="['/contact-us']">Contact us <i class="fa fa-chevron-right"></i></a></li>
  </ul>
  </div>


</div>
