<div class="innerhead2">
  <app-header></app-header>
</div>
<app-sidemenu></app-sidemenu>

<div class="contactusbannerblock">
  <div class="innerbannertext">
    <h1>Get In Touch</h1>
  </div>
</div>


<div class="newhome_contactusdiv">
  <div class="formdivwrapper">
    <h2>Contact Us</h2>
    <div class="formdivwrapper_content">
      <form>
        <div class="form-row">
          <div class="form-group col-xs-6 formpaddingright">
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
          </div>
          <div class="form-group col-xs-6">
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
          </div>
          <div class="form-group col-xs-6 formpaddingright">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email *">
          </div>
          <div class="form-group col-xs-6">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone *">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-sm-12 col-xs-12">
            <textarea class="form-control" name="message" id="validationTextarea" placeholder="Message *" rows="3" required></textarea>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-xs-12 text-right">
            <div class="btncheckshatterproof">
              <button type="submit" class="btnyellow" data-toggle="modal" data-target="#mysuccess">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<app-footer></app-footer>