<app-header></app-header>
<!--<div class="s_shatter_container">
  <div class="s_trending_model_page">
    <div class="s_trending_model_logo">
      <img src="../assets/images/s_trendingmodels_logo.png" class="img-fluid">
    </div>
  </div>
</div>-->
<div class="s_shatter_container s_shatter_container2nd s_trending_model_container">
  <div class="s_model_review_section s_trending_model_review_section">

    <div class="s_trending_model_page">
      <div class="s_trending_model_logo">
        <img class="img-fluid" src="../assets/images/s_trendingmodels_logo.png">
      </div>
    </div>

    <div class="s_model_heading s_trending_model_heading kb_model_heading">
      <h1>TRENDING Models</h1>
    </div>

    <div class="kb_searchmodel_div">
      <h2>
        <span>Newest to Oldest</span><span>|</span>
        <span>By Largest Audience</span><span>|</span>
        <span>Date Range</span>
        <label><input class="form-control" name="searchattribute" type="text" value="">
          <span>view all</span>
        </label>
      </h2>
      <div class="btntopformgraylists">
        <div class="col"><button class="btn btntopformgray" type="button">Country</button></div>
        <div class="col"><button class="btn btntopformgray" type="button">State</button></div>
        <div class="col"><button class="btn btntopformgray" type="button">City</button></div>
        <div class="col"><button class="btn btntopformgray" type="button">Zip Code</button></div>
      </div>
    </div>

    <div class="s_model_content s_trending_model_content kb_trending_model_content">
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img1.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2"> jean copus</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img2.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Danica Cooper</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img3.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Everly Lauren</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img4.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2"> jean copus</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img5.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Danica Cooper</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img6.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Everly Lauren</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img7.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2"> jean copus</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img8.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Danica Cooper</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s_model_inner_content s_trending_model_inner_content">

        <div class="kb_imgwrapper s_model_image_wrapper">
          <img src="../assets/images/trendingmodels-img9.jpg">
        </div>
        <div class="s_model_description s_trending_model_description kb_model_description">
          <div class="s_model_description_left s_trending_model_des_left ">
            <!--<span style="font-size: 24px; text-transform: uppercase;">name: </span><h1>jean copus</h1>-->
            <table>
              <tr class="s_hr">
                <th class="s_trendingmodel_name">name:</th>
                <td class="s_trendingmodel_name_2">Everly Lauren</td>
              </tr>

              <tr>
                <th>Location:</th>
                <td>Los Angeles</td>
              </tr>
              <tr>
                <th>Height:</th>
                <td>5'7</td>
              </tr>
              <tr>
                <th>WEIGHT:</th>
                <td>135 lb. | Bust: 34B</td>
              </tr>
              <tr>
                <th>WAIST:</th>
                <td>27 | Hips: 42</td>
              </tr>
            </table>
            <br>
            <div class="s_model_profile_block s_trending_model_profile_block">
              <div class="s_model_review s_trending_model_review">
                <ul>
                  <li><i class="fa fa-eye" aria-hidden="true"></i>view: 365</li>
                  <li><i class="fa fa-share-alt" aria-hidden="true"></i>share</li>
                  <li><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like</li>
                </ul>
              </div>
              <div class="s_model_view_profile">
                <button class="pull-right">view profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  </div>

</div>




<app-footer></app-footer>