<div class="container-fluid neweventspgwrapper">
<div class="blankmenuiconblock">
  <app-header></app-header>
  <div class="neweventtoplogowrapper">
    <img src="../assets/images/shaterblockLogo.png" alt="shaterblockLogo">
  </div>
</div>
<app-sidemenu></app-sidemenu>


<!--
<div class="blankmenuiconblock">
  <app-header></app-header>
</div>

<app-sidemenu></app-sidemenu>-->


  <div class="neweventspgtopdesign">
    <a [routerLink]="['/']">
      <img src="../assets/images/eventspage-topdesign.png" alt="eventspage topdesign">
    </a>
  </div>
  <div class="neweventspg_main_wrapper">

    <div class="newshatterproofservice">
      <div class="newshatterproofsingleservice">
        <img src="../assets/images/shatterproofsingleservicelogo1.png" alt="singleservicelogo1">
      </div>
      <div class="newshatterproofsingleservice">
        <img src="../assets/images/shatterproofsingleservicelogo2.png" alt="singleservicelogo2">
      </div>
      <div class="newshatterproofsingleservice">
        <img src="../assets/images/shatterproofsingleservicelogo3.png" alt="singleservicelogo3">
      </div>
    </div>
    <div class="newupcomingevents">
        <h2>Upcoming Events</h2>
        <div class="newupcomingeventphotolistswrapper">
          <div class="newupcomingeventphotolists">
            <div class="newupcomingeventphotosingle">
              <img src="../assets/images/newupcomingeventphotos1.jpg" alt="newupcomingeventphotos1">
            </div>
            <div class="newupcomingeventphotosingle">
              <img src="../assets/images/newupcomingeventphotos2.jpg" alt="newupcomingeventphotos1">
            </div>
            <div class="newupcomingeventphotosingle">
              <img src="../assets/images/newupcomingeventphotos3.jpg" alt="newupcomingeventphotos1">
            </div>
            <div class="newupcomingeventphotosingle">
              <img src="../assets/images/newupcomingeventphotos4.jpg" alt="newupcomingeventphotos1">
            </div>
          </div>
        </div>
        <div class="meetthemodelsblock">
          <div class="meetthemodelsblockcontent">
            <div class="meetthemodelleftdesign">
              <img src="../assets/images/meetthemodel-leftdesign.png" alt="meetthemodel-leftdesign">
            </div>

            <div class="meetthemodelsblockcontentinner">
              <h2>Meet The</h2>
              <div class="modeltitle">
                <img src="../assets/images/img-model-titletext.png" alt="img model titletext">
              </div>
              <h4>Feb 9th, 2019  |  Jamie’s Foxx’s Crib in LA!</h4>
              <p>Join us at our launch party on February 9th 2019 in LA at Jamie Foxx’s Crib! We are excited to have our brand new website readily available for our clients and want to show you how we represent! We will have our co-host AudioDeadline and ArtistXP there to help with a night to remember!</p>
            </div>

            <div class="meetthemodelrightdesign">
              <img src="../assets/images/meetthemodel-rightdesign.png" alt="meetthemodel-rightdesign">
            </div>
          </div>
        </div>
    </div>
    <div class="newupcomingevents newvipsevents">
      <div class="newupcomingeventphotolistswrapper">
        <div class="newupcomingeventphotolists">
          <div class="vipmainimagelefttopdesign">
            <img src="../assets/images/vipmainimagelefttopdesign.png" alt="vipmainimagelefttopdesign">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/newvipsphotosmainimg.jpg" alt="newvipsphotosmainimg">
          </div>
          <div class="vipmainimagerightopdesign">
            <img src="../assets/images/vipmainimagerightopdesign.png" alt="vipmainimagerightopdesign">
          </div>
        </div>
      </div>
      <div class="meetthemodelsblock">

        <div class="meetthemodelsblockcontent">

          <div class="meetthemodelleftdesign">
            <img src="../assets/images/meetthemodel-leftdesign.png" alt="meetthemodel-leftdesign">
          </div>

          <div class="meetthemodelsblockcontentinner">
            <h2>Welcome</h2>
            <div class="modeltitle">
              <img src="../assets/images/img-vip-titletext.png" alt="img vip titletext">
            </div>
            <h4>The Whole Entertainment Industry is invited to our event!</h4>
            <p><span>Executives</span><span>Models</span><span>Producers</span><span>Musicians</span><span>Dancers</span><span>Fans</span></p>
            <div class="btnrsvpnowrapper">
              <a href="javascript:void(0)"><span>RSVP now</span></a>
            </div>
          </div>

          <div class="meetthemodelrightdesign">
            <img src="../assets/images/meetthemodel-rightdesign.png" alt="meetthemodel-rightdesign">
          </div>

        </div>

      </div>
    </div>
    <div class="newupcomingevents seeyouthere">
      <div class="seeyouthere_left_design">
        <img src="../assets/images/seeyouthere_left_design.png" alt="seeyouthere_left_design">
      </div>
      <div class="newupcomingeventphotolistswrapper">

        <div class="newupcomingeventphotolists">

          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg1.jpg" alt="seeyouthereimg1">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg2.jpg" alt="seeyouthereimg2">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg3.jpg" alt="seeyouthereimg3">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg4.jpg" alt="seeyouthereimg4">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg5.jpg" alt="seeyouthereimg4">
          </div>
          <div class="newupcomingeventphotosingle">
            <img src="../assets/images/seeyouthereimg6.jpg" alt="seeyouthereimg5">
          </div>

          <div class="seeyoutherewrapper">
            <div class="btnrsvpnowrapper">
              <a href="javascript:void(0)"><span>RSVP now</span></a>
            </div>
            <div class="new_shatter_vips_bg5">
              <img src="../assets/images/new_shatter_vips_bg5.png" alt="new_shatter_vips_bg5">
            </div>
          </div>
          <div class="seeyouthereimgoverlay">
            <img src="../assets/images/seeyouthereimgoverlay.png" alt="seeyouthereimgoverlay">
          </div>
        </div>
      </div>
      <div class="seeyouthere_right_design">
        <img src="../assets/images/seeyouthere_right_design.png" alt="seeyouthere_right_design">
      </div>
    </div>
    <div class="copyrightblock">
      <h2>Copyright © 2018 Shatter Blok - All Rights Reserved</h2>
      <h3>Powered by GoDaddy</h3>
    </div>
  </div>
</div>


