<app-adminheader></app-adminheader>

<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right">
      <div class="page-wrapper s_getmyoffer_adminlist">
        <div class="row">
          <div class="col-lg-12">
            <div class="content_header_block">
              <ol class="breadcrumb">
                <li ><a class="shatteractive" ui-sref="dashboard" [routerLink]="['/admindashboard']"><i class="active fa fa-dashboard"></i> Dashboard </a> </li>
                <li>/</li>
                <li>Manage Brand</li>

              </ol>
              <div class="clearfix"></div>
            </div>
            <h1 class="page-header s_getmyoffer_adminlistpage-header brand_header"><i class="fa fa-circle" aria-hidden="true"></i> Manage Brand</h1>

            <div class="clearfix"></div>

            <div class="admintable s_getmyoffer_adminlist_table ">
              <!--<h3>Brand List</h3>-->
              <div class="shatterBlock_Brandwrapper">
                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                  <div class="brand_image">
                    <img src="assets/images/whowearebanner.jpg">
                  </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>
                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>


                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/s_model_booking_image.jpg">
                    </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/s_tabview_model.jpg">
                    </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

              </div> <!--end Brand Wrapper-->


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(selectedadminid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>