
<div class="blankmenuiconblock innerhead1">
  <app-header></app-header>
  <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/musicmanagementlogo.png" alt="Shatter Proof Models Logo">
      </div>
    </div>
  </div>
</div>
<app-sidemenu></app-sidemenu>

<div class="musicmanagementbannerblock">
  <div class="musicmanagementbannertext">
    <h1 class="headertitle">Our Formula</h1>
    <p>Shatter Proof Music Group's unique formula is to create a personal music media campaign to use in cohesion with our distribution and tie it all together with a marketing plan.  We have connections in the industry that can help to spearhead a label/artist/producer into the next step of their music career.</p>
  </div>
</div>

<div class="musicmanagementblock1">
  <div class="musicmanagementblock1_wrapper">
    <h2>The importance of digital</h2>
    <div class="musicmanagementblock1_wrapper_content">
      <p>
        <span>In today’s music industry,</span> the importance of having your music available on digital channels is undeniably huge. Everyone’s using iTunes, Google Play, Spotify, Pandora and Beatport to get the music they love, and if your music isn’t there for their choosing, you’re losing.<br><br>

        Thirty-Five percent (35%) of the global music industry’s revenue is coming from digital channels. 20% of that is coming from subscription based streaming services. In Europe, streaming services even account for 31% of total industry revenue.<br><br>

        Now this is something all independent artists and labels should know. But, getting music placed on these digital stores can be rather difficult, as the stores themselves rarely accept submissions from labels and artists. They are focused on selling the music and rely on a network of trusted companies to curate and deliver the majority of their content. This is where distributors come in.
      </p>
      <div class="sponsorblockwrapper">
        <div class="sponsorblock">
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img1.png" alt="#">
        </div>
        <div class="sponsorblock">
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img2.png" alt="#">
        </div>
        <div class="sponsorblock">
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img3.png" alt="#">
        </div>
        <div class="sponsorblock"><!---sponsorblockgraybg--->
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img4.png" alt="#">
        </div>
        <div class="sponsorblock">
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img5.png" alt="#">
        </div>
        <div class="sponsorblock">
          <img src="../assets/images/newhome_sproofmusicgroupdiv_img6.png" alt="#">
        </div>
      </div>
      <div class="musicmanagementblock1_bottomdiv">
        <p>
          If you are interested in being involved with an entirely new experience where you are closely connected to potential fans and other artists, then don’t forget to check out <span>Audiodeadline.com and ArtistXP.com!</span> <br><br>
          This is a community of tons of artists that can share their talent while interacting with their fans seamlessly. It is a great way for exposure in the music industry as we have quarterly competitions that get you in front of thousands of other artists, fans, and industry promoters!
        </p>
        <div class="btncheckshatterproof mmbtncheckshatterproof">
          <a [routerLink]="['/partnerships-affiliates']" target="_blank" class="btnyellow">About AudioDeadline and Artist XP</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="musicmanagementblock2">

  <div class="musicmanagementblock2imgrighttop">
    <img src="../assets/images/musicmanagementblock2girlimg.png" alt="girl img">
  </div>

  <div class="musicmanagementblock2_wrapper">
    <h2>Music Distribution</h2>
    <div class="musicvideoblock2videowrapper">
      <div class="video-container">
        <img src="../assets/images/musicvideoblock2videowrapperimg.jpg" alt="music management videos">
        <!--<iframe width="1140" height="502" src="https://www.youtube.com/embed/LdE3WlQ__GY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      </div>
    </div>

    <div class="musicmanagementblock2_wrapper_content">
      <p>
        <span>There are still companies</span> focused on getting music to stores. Back in the day, this would entail making sure the CD’s or vinyl would be for sale at the right stores, at the right time. The Future is in streaming/digital, as it is shown through the decrease of physical sales and increase of digital revenues, almost all distributors that focused on physical products <span class="txtyellow uc">HAVE TO NOW OFFER DIGITAL DISTRIBUTION</span>. And, many new distributors have sprouted that focus solely on ‘digital music distribution’. This is the distribution carried by Shatter Proof Music Group.
      </p>

      <h3>Producers and Important Relationships</h3>

      <p>We have relationships at our disposal that are knowledgeable individuals whose accolades, along with airtight music media campaigns and marketing plans that can assist to solidify brand awareness and worldwide radio placements needed to propel a label/artist/producer as a heavy hitter in the music industry. Believe us when we say joining us Will Help You WIN!!!</p>

    </div>
  </div>

</div>

<div class="musicmanagementblock3" id="div_id">
  <div class="formdivwrapper new_socialmedia">
    <h1 class="headertitle">Submission Process</h1>
    <h3 class="headertitle2">Want to share your music with us and have a chance to succeed? </h3>
    <p class="headertitlepara">Fill out the Submission Form below and we will review your content for the chance to move you a step forward to the success you have always wanted. We would love to collaborate and come up with a precise marketing plan that will fit your needs. </p>
    <form [formGroup]="myForm" (ngSubmit)="doSubmit(successform, error)">
      <div class="form-row">
        <div class="form-group col-xs-6 formpaddingright">
          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name*" [formControl]="myForm.controls['firstname']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['firstname'].valid && myForm.controls['firstname'].touched && issubmit==1">First Name field is required.</span>
        </div>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name*"[formControl]="myForm.controls['lastname']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['lastname'].valid && myForm.controls['lastname'].touched && issubmit==1">Last Name field is required.</span>
        </div>
      <div class="clearfix"></div>
      <div class="form-row">
        <div class="form-group col-sm-2 col-xs-4 formpaddingright">
          <input type="text" class="form-control" name="age" id="age" placeholder="Age*" [formControl]="myForm.controls['age']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['age'].valid && myForm.controls['age'].touched && issubmit==1">Age field is required.</span>
        </div>
        <div class="form-group col-sm-5 col-xs-8 formpaddingright">
          <input type="text" class="form-control" name="phone" id="phone" placeholder="phone number*" [formControl]="myForm.controls['phone']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched && issubmit==1">Phone field is required.</span>
        </div>
        <div class="form-group col-sm-5 col-xs-12">
          <input type="text" class="form-control" name="email" id="email" placeholder="email address*"  [formControl]="myForm.controls['email']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched && issubmit==1">Email field is required.</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-row">
        <div class="form-group col-xs-5 formpaddingright">
          <input type="text" class="form-control" name="city" id="city" placeholder="city"  [formControl]="myForm.controls['city']" (keyup)="issubmit=0">
          <span class="error" *ngIf="!myForm.controls['city'].valid && myForm.controls['city'].touched && issubmit==1">City field is required.</span>
        </div>
        <div class="form-group col-xs-7">
          <select class="form-control" [formControl]="myForm.controls['state']">
            <option value="">Select State</option>
            <option *ngFor="let item of stateslist" value="{{item.abbreviation}}">{{item.name}}</option>
          </select>
          <span class="error" *ngIf="!myForm.controls['state'].valid && myForm.controls['state'].touched">Have to choose a/any state</span>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="form-row">
        <div class="form-group col-xs-12">
          <textarea class="form-control" name="descriptionbox" id="validationTextarea" placeholder="Description Box" rows="3" required [formControl]="myForm.controls['descriptionbox']" (keyup)="issubmit=0"></textarea>
          <span class="error" *ngIf="!myForm.controls['descriptionbox'].valid && myForm.controls['descriptionbox'].touched && issubmit==1">Description Box field is required.</span>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="form-row socilamediafield">
        <div class="form-group col-sm-6 col-xs-12 formpaddingright">
          <div class="socialmediafieldinner">
            <img src="../../assets/images/socialicon-fb.png" alt="socialicon-fb">
            <input type="url" class="form-control" name="facebooklink" id="facebooklink" placeholder="" [formControl]="myForm.controls['facebooklink']" (keyup)="issubmit=0" >
            <span class="icon_ref">https://www.facebook.com/</span>
            <span class="error" *ngIf="!myForm.controls['facebooklink'].valid && myForm.controls['facebooklink'].touched && issubmit==1">Give proper URL with http or https.</span>
          </div>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
          <div class="socialmediafieldinner">
            <img src="../../assets/images/socialicon-soundcloud.png" alt="socialicon-soundcloud">
            <input type="url" class="form-control" name="soundcloudlink" id="soundcloudlink" placeholder="Soundcloud Link" [formControl]="myForm.controls['soundcloud']" (keyup)="issubmit=0" >
            <!--<span class="icon_ref">https://www.soundcloud.com/</span>-->
            <span class="error" *ngIf="!myForm.controls['soundcloud'].valid && myForm.controls['soundcloud'].touched && issubmit==1">Give proper URL with http or https.</span>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <p class="headertitlepara">Upload mp3 (Upload at least 3 mp3 files)</p>
      <div class="form-row">

        <div class="form-group col-xs-12">

          <app-uploader uploadtype="multiple" [uploadpath]="modeluploadpath" [filepath]="modelfilepath"  [filenameval]="uploader" ></app-uploader>

          <!--<div class="uploadsection">


            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
                <span class="title">100%</span>
              </div>

            </div>
            <div class="uploadbutton text-right">
              <label for="file-upload" class="custom-file-upload">
                Upload Files
              </label>
              <input id="file-upload" type="file"/>


              &lt;!&ndash;<input type="file" id="file" (change)="handleFileInput($event.target.files)">&ndash;&gt;
            </div>

          </div>-->

        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-row">
        <div class="form-group col-sm-12 text-right btncheckshatterproofwrappper">
          <div class="btncheckshatterproof">
            <button class="btnyellow" data-toggle="modal">Submit</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<app-footer></app-footer>



<ng-template #successform>
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closemodal()">&times;</button>
    <div class="logoshatterblock">
      <img src="../assets/images/shaterblockLogo.png" class="newhomelogo">
    </div>
    <p>Thank you for Submitting your music media for a chance to be a part of Shatter Proof Music Group’s team! We will review your form as soon as possible and respond with details on your opportunity regarding what steps may come next!</p>
  </div>
</ng-template>

<ng-template #error>
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closemodal()">&times;</button>
    <div class="logoshatterblock">
      <img src="../assets/images/shaterblockLogo.png" class="newhomelogo">
    </div>
    <p>PLEASE UPLOAD AT LEAST 3 IMAGES AND SELECT ONE IMAGE THAT YOU WANT AS YOUR SHATTERBLOK PROFILE PICTURE.</p>
  </div>
</ng-template>
