<app-header></app-header>
<div class="s_shatter_container" >
  <div class="s_shatter_banner">
    <div class="s_banner_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/webookBanner.jpg" alt="Los Angeles">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spec
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/bannerBG.jpg" alt="Chicago">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/webookBanner.jpg" alt="New York">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spec
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--webook -->
<div class="s_shatter_container s_weboook_block1">
  <div class="s_overview_bg">
    <div class="s_model_overview">
      <div class="s_overview_heading">
        <h1>we book</h1>
      </div>
      <div class="s_shatter_webook_content">
        <div class="s_shatter_webook_body">
          <div class="s_shatte_webook_rightbg">

            <div class="s_shatter_webook_left2">
              <div class="s_shatter_webook_left2_inner">
                <div class="s_shatter_content">
                  <h2 class="s_webook_inner_header">Our Talent</h2>
                  <p>Shatter Proof Models prides itself in working with an exceptional quality of staff / models / talent which is always our first priority. In fact we offer a Satisfaction Guarantee of the staff we provide.
                  </p>
                  <p>If you are unhappy with any of the staff we provide you
                  won't have to pay for the service.
                  </p>
                  <button>book now</button>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
</div>

<div class="s_webook_block2">
  <div class="s_shatter_container">
    <div class="s_overview_bg">
      <div class="s_model_overview">
        <div class="s_overview_heading">

          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#promotion">promotion</a></li>
            <li><a data-toggle="pill" href="#sales">sales</a></li>
            <li><a data-toggle="pill" href="#hosting">hosting</a></li>
            <li><a data-toggle="pill" href="#branding">branding</a></li>
            <li><a data-toggle="pill" href="#print">print</a></li>
          </ul>

          <div class="tab-content">
            <div id="promotion" class="tab-pane fade in active">
              <div class="s_tab_content_wrapper">
                <div class="s_tabcontent_view">
                  <div class="s_tab_img_wrapper">
                    <img src="../assets/images/s_tabview_model.jpg" class="tabImage-responsive">
                  </div>
                  <div class="s_tab_context">
                    <h2>Lorem ipsum</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>

                    <div class="s_readmoreButton">
                      <button>read more</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>
            <div id="sales" class="tab-pane fade">
              <div class="s_tab_content_wrapper">
                <div class="s_tabcontent_view">
                  <div class="s_tab_img_wrapper">
                    <img src="../assets/images/s_tabview_model.jpg" class="tabImage-responsive">
                  </div>
                  <div class="s_tab_context">
                    <h2>Lorem ipsum</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>

                    <div class="s_readmoreButton">
                      <button>read more</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div id="hosting" class="tab-pane fade">
              <div class="s_tab_content_wrapper">
                <div class="s_tabcontent_view">
                  <div class="s_tab_img_wrapper">
                    <img src="../assets/images/s_tabview_model.jpg" class="tabImage-responsive">
                  </div>
                  <div class="s_tab_context">
                    <h2>Lorem ipsum</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>

                    <div class="s_readmoreButton">
                      <button>read more</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div id="branding" class="tab-pane fade">
              <div class="s_tab_content_wrapper">
                <div class="s_tabcontent_view">
                  <div class="s_tab_img_wrapper">
                    <img src="../assets/images/s_tabview_model.jpg" class="tabImage-responsive">
                  </div>
                  <div class="s_tab_context">
                    <h2>Lorem ipsum</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>

                    <div class="s_readmoreButton">
                      <button>read more</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div id="print" class="tab-pane fade">
              <div class="s_tab_content_wrapper">
                <div class="s_tabcontent_view">
                  <div class="s_tab_img_wrapper">
                    <img src="../assets/images/s_tabview_model.jpg" class="tabImage-responsive">
                  </div>
                  <div class="s_tab_context">
                    <h2>Lorem ipsum</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>

                    <div class="s_readmoreButton">
                      <button>read more</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--start block 3-->
<div class="s_shatter_container s_weboook_block3">
  <div class="s_overview_bg">
    <div class="s_model_overview">
      <div class="s_overview_heading">
        <h1>Who booked us</h1>
      </div>
      <div class="s_weboohb3Banner">
        <div class="s_webookb3Content">
          <h2>KIA Soul-LMFAO VMA 2011 on
            air segment</h2>
          <p>We booked a promotional commercial for the New KIA Soul in conjunction with the MTV Video Music
            Awards staring LMFAO.</p>
        </div>

      </div>

      <div class="s_weboohb4Banner">
        <div class="s_webookb3Content">
          <h2>Music Videos - 1999</h2>
          <p>We have and continue to book lead & feature roles in some of the Hottest music videos for major artist.</p>
        </div>

      </div>
      <button>VIEW ALL <img  href="javascript-void(0);" src="../assets/images/s_viewall.png"></button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="s_shatter_container">
  <div class="s_contact_block">
    <div class="s_contact_block_bg">
      <div class="s_contact_heading">
        <h1>contact us</h1>
      </div>
      <div class="s_contactform_content">
        <div class="s_content_left">
          <h2>Shatter Blok</h2>

          <p>
            Lorem Ipsum is simply dummy<br>
            text of the printing and<br>
            typesetting industry.
          </p>
        </div>
        <div class="s_content_right">
          <h2>have a question?</h2>
          <div class="s_contact_block_form">
            <form>
              <input type="text" name="name" placeholder="Name"> <input type="email" name="email" placeholder="Email Address">
              <textarea type="text" placeholder="Message *"></textarea>
              <button class="s_form_submit">send</button>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>