<app-header></app-header>

<div class="s_shatter_container musicdivisioncarousalblock">
  <div class="s_shatter_banner">
    <div class="s_banner_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/bannerBG_musicdivision.jpg" alt="Los Angeles">
            <div class="carousel-caption">
              <h3>Lorem Ipsum</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/bannerBG_musicdivision.jpg" alt="Chicago">
            <div class="carousel-caption">
              <h3>Lorem Ipsum</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/bannerBG_musicdivision.jpg" alt="New York">
            <div class="carousel-caption">
              <h3>Lorem Ipsum</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--start subscribe-->
<div class="s_shatter_container s_shatter_container1st musicdivisionblock1">
  <div class="s_subscribe">
    <div class="s_subscribe_left">
      <label>SUBSCRIBE</label>
      <div class="s_inputbox">
        <input type="text" placeholder="Email Address"> <button>sign up</button>
      </div>

    </div>
    <div class="s_subscribe_right">
      <div class="s_subs_image">
        <img src="../assets/images/s_subscribe_icon_md.png">
      </div>
      <div class="s_subsribe_caption">
        <h3>Lorem Ipsum</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
        <a href="">view more ></a>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="s_shatter_container musicdivisionblock2">
  <div class="s_overview_bg">
    <div class="s_model_overview">
      <div class="s_overview_heading">
        <h1>SHATTER PROOF MUSIC GROUP</h1>
      </div>
      <div class="s_overview_content_block1">
        <div class="s_tm_rightbg">
          <div class="s_tm_leftbg">
            <div class="s_tm_content">
              <h1>Shatter Proof Music Group</h1>
              <p>These are still companies focused on getting music to stores. Back<br> in the day, this would entail making sure the CD's or vinyl would be<br> for sale at the right stores, at the right time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="s_overview_content_block2">
        <div class="s_md_leftbg">
          <div class="s_md_rightbg">
            <div class="s_md_content">
              <h1>The importance of digital</h1>
              <p>In today's music industry, the importance of having your music<br> available on digital channels is undeniably huge.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="s_shatter_container musicdivisionblock3">
  <div class="s_overview_bg">
    <div class="s_model_overview">
      <div class="s_overview_heading">
        <h1>Audio</h1>
      </div>
      <div class="s_overview_content_block1 audiowrapperdivblock">
        <div class="audiowrapperdiv">
          <div class="audiomain audiomainleftdiv">
            <div class="audiowrapper">
              <img src="../assets/images/audiotrackimg.jpg">
            </div>
            <div class="playwrapperdiv">
              <div class="playsilider">
                <img alt="audiolistrightdivlrg" src="../../assets/images/slider-audiolistrightdivlrg.png">
              </div>
              <div class="playericons">
                <div class="audioicon_d audioicon1">
                  <p>0:00:00 / 01:21:36</p>
                </div>
                <div class="audioicon_d audioicon2">
                  <span class="icons1"><img src="assets/images/audio_leftarrow.png" alt="#"> </span>
                  <span class="icons2"><img src="assets/images/audio_playicon.png" alt="#"> </span>
                  <span class="icons2 hide"><img src="assets/images/audio_pauseicon.png" alt="#"> </span>
                  <span class="icons3"><img src="assets/images/audio_rightarrow.png" alt="#"> </span>
                </div>
                <div class="audioicon_d audioicon3">
                  <span class="icons01"><img src="../../assets/images/audioicon1-inactive.png" alt="#"></span>
                  <span class="icons01 hide"><img src="../../assets/images/audioicon1-active.png" alt="#"></span>
                  <span class="icons02"><img src="assets/images/audioicon2.png" alt="#"> </span>
                  <span class="icons02 hide"><img src="../../assets/images/audio_muteicon.png" alt="#"> </span>
                  <span class="icons03"><img alt="audiolistrightdivsml" src="../../assets/images/slider-audiolistrightdivsml.png"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="audiomain audiolistrightdiv">
            <div class="tendingartistcollists verticalscroller" id="verticalscrollerdiv">
              <div class="tendingartistcol">
                <div class="col-container">
                  <div class="col tendingartistsinglecolleft">
                    <div class="imagewrappertamain">
                      <a  href="javascript:void(0)">
                        <img alt="rightbannerdiv screen6" src="../../assets/images/audioimg1.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="col tendingartistsinglecolright">
                    <div class="tendingartistsinglecolrightcontent">
                      <div class="contenttop">
                        <a href=""><h2>Farin Sahn</h2></a>
                        <h4>25, Disney Land,<br>
                          Branford, Florida<br>
                          32008, US</h4>
                      </div>
                      <div class="contentmiddle">
                        <h2 class="gn5">
                          <label class="greenclrtxt">Genre:</label>
                          <span>Jazz, Hip-Hop, Poping  +3 more…..</span>
                        </h2>
                      </div>
                      <div class="contentbottom">
                        <div class="feedslinks">
                          <span class="feedslinks1"><i class="fa fa-users"></i> [ 389 ]</span>
                          <span class="feedslinks2"><i class="fa fa-music"></i> [ 351 ]</span>
                          <span class="feedslinks3"><i class="fa fa-youtube-play" aria-hidden="true"></i> [ 51 ]</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tendingartistcol">
                <div class="col-container">
                  <div class="col tendingartistsinglecolleft">
                    <div class="imagewrappertamain">
                      <a  href="javascript:void(0)">
                        <img alt="rightbannerdiv screen6" src="../../assets/images/audioimg2.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="col tendingartistsinglecolright">
                    <div class="tendingartistsinglecolrightcontent">
                      <div class="contenttop">
                        <a href=""><h2>Farin Sahn</h2></a>
                        <h4>25, Disney Land,<br>
                          Branford, Florida<br>
                          32008, US</h4>
                      </div>
                      <div class="contentmiddle">
                        <h2 class="gn5">
                          <label class="greenclrtxt">Genre:</label>
                          <span>Jazz, Hip-Hop, Poping  +3 more…..</span>
                        </h2>
                      </div>
                      <div class="contentbottom">
                        <div class="feedslinks">
                          <span class="feedslinks1"><i class="fa fa-users"></i> [ 389 ]</span>
                          <span class="feedslinks2"><i class="fa fa-music"></i> [ 351 ]</span>
                          <span class="feedslinks3"><i class="fa fa-youtube-play" aria-hidden="true"></i> [ 51 ]</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tendingartistcol">
                <div class="col-container">
                  <div class="col tendingartistsinglecolleft">
                    <div class="imagewrappertamain">
                      <a  href="javascript:void(0)">
                        <img alt="rightbannerdiv screen6" src="../../assets/images/audioimg1.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="col tendingartistsinglecolright">
                    <div class="tendingartistsinglecolrightcontent">
                      <div class="contenttop">
                        <a href=""><h2>Farin Sahn</h2></a>
                        <h4>25, Disney Land,<br>
                          Branford, Florida<br>
                          32008, US</h4>
                      </div>
                      <div class="contentmiddle">
                        <h2 class="gn5">
                          <label class="greenclrtxt">Genre:</label>
                          <span>Jazz, Hip-Hop, Poping  +3 more…..</span>
                        </h2>
                      </div>
                      <div class="contentbottom">
                        <div class="feedslinks">
                          <span class="feedslinks1"><i class="fa fa-users"></i> [ 389 ]</span>
                          <span class="feedslinks2"><i class="fa fa-music"></i> [ 351 ]</span>
                          <span class="feedslinks3"><i class="fa fa-youtube-play" aria-hidden="true"></i> [ 51 ]</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="s_shatter_container">
  <div class="s_contact_block">
    <div class="s_contact_block_bg">
      <div class="s_contact_heading">
        <h1>contact us</h1>
      </div>
      <div class="s_contactform_content">
        <div class="s_content_left">
          <h2>Shatter Blok</h2>

          <p>
            Lorem Ipsum is simply dummy<br>
            text of the printing and<br>
            typesetting industry.
          </p>
        </div>
        <div class="s_content_right">
          <h2>have a question?</h2>
          <div class="s_contact_block_form">
            <form>
              <input type="text" name="name" placeholder="Name"> <input type="email" name="email" placeholder="Email Address">
              <textarea type="text" placeholder="Message *"></textarea>
              <button class="s_form_submit">send</button>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
