

<div class="uploadsection">
  <input style="display: none" type="file" accept="*" ngFileSelect [options]="apiService.options" (uploadOutput)="apiService.onUploadOutput($event,filenamevalc,uploadtypec,uploadpathc)"  [uploadInput]="apiService.uploadInput" #fileInput1 >
   <div class="progressnew"> <progressbar *ngIf=" apiService.progress[filenamevalc] !=null && apiService.progress[filenamevalc]>0" class="progress-striped active" max="100" [value]="apiService.progress[filenamevalc]" [type]="type">{{apiService.progress[filenamevalc]}}% </progressbar></div>
  <h3 *ngIf="nameis" style="color: white;">upload file:</h3> <button *ngIf="apiService.inprogress==null" (click)="fileInput1.click()" type="button">upload</button>


</div>

<div class="uploadsection_wrapper">

  <!--<progressbar *ngIf=" apiService.progress[filenamevalc] !=null && apiService.progress[filenamevalc]>0" class="progress-striped active" max="100" [value]="apiService.progress[filenamevalc]" [type]="type">{{apiService.progress[filenamevalc]}}% </progressbar>-->

  <span class="uploadthum" *ngIf="apiService.fileservername!=null && apiService.fileservername[filenamevalc]!=null && apiService.fileservername[filenamevalc].length>0">
      <div class="upload_caption">* Please select the image that you want to select as your ShatterBlok profile picture.</div>
                  <span class="uploadthumimgbox" *ngFor="let img of apiService.fileservername[filenamevalc] ;let i=index;">

                      <span class="uploadthumimgbox_span" >
                          <a [ngClass]="img==profileimage ? 'thumb_gallery_uploadselect' : 'thumb_gallery_upload'" (click)="profileImg(img)"> <img src="../../assets/images/upload_image.png"> </a>

                           <a *ngIf="!show_second_image"  [ngClass]="img==second_image ? 'thumb_gallery_uploadselect' : 'thumb_gallery_upload'" (click)="profileImg2(img)"> <img src="../../assets/images/upload_image.png"> </a>
                        <img  src="{{filepathc}}/{{img}}" >
                        <button (click)="delimage(i)">Delete</button>
<!--                          <span>{{img}}==={{profileimage}}</span>-->
                      </span>
                  </span>
                </span>


</div>

<div *ngIf="apiService.uploaderror!='' " class="error" style="color: white;"> {{apiService.uploaderror}}</div>
