
<!--START NEW LIST-->
<app-adminheader></app-adminheader>

<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right">
      <div class="page-wrapper s_getmyoffer_adminlist">
        <div class="row">
          <div class="col-lg-12">
            <div class="content_header_block">
              <ol class="breadcrumb">
                <li ><a class="shatteractive" ui-sref="dashboard" [routerLink]="['/admindashboard']"><i class="active fa fa-dashboard"></i> Dashboard </a> </li>
                <li>/</li>
                <li>Manage Brand</li>

              </ol>
              <div class="clearfix"></div>
            </div>
            <h1 class="page-header s_getmyoffer_adminlistpage-header brand_header"><i class="fa fa-circle" aria-hidden="true"></i> Manage Brand</h1>

            <div class="clearfix"></div>
            <div class="newblock1 shatterblock1">

              <!--<input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Influencer">-->
              <div class="row_view">
                <button class="s_gridactive" (click)="islistview=1-islistview"> List View</button>
                <button class=" " (click)="islistview=1-islistview" > Grid View</button>
                <a [routerLink]="['/addinfluencer']" class="addfrinderbtn s_getmyoffer_savebutton"> Add Brand</a>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="admintable s_getmyoffer_adminlist_table ">
              <!--<h3>Brand List</h3>-->
              <div class="shatterBlock_Brandwrapper">
                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Logo_TV_2015.svg/1200px-Logo_TV_2015.svg.png">
                  </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>
                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/w_596,c_limit,q_auto:best,f_auto/fc/3034007-inline-i-applelogo.jpg">
                  </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>


                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQytVxByXNGdz4_kxYa6pA4wm-8uaMLorOXDAyGRfZCjb23vPqkQg">
                  </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/s_model_booking_image.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzU1Yu9pfsprvWRtbU4YFfReTyR38ubyWo1Pwmq3JHMy-nvirI">
                  </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/s_tabview_model.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://vignette.wikia.nocookie.net/logopedia/images/f/f0/Washington_capitals_alternate_logo.gif/revision/latest?cb=20130929140614">
                </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

                <div class="inner_panel">
                  <div class="brand_image_wrapper">
                    <div class="brand_image">
                      <img src="assets/images/whowearebanner.jpg">
                    </div>
                  </div>
                  <!--logo section-->
                  <div class="s_logo_block">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgu8xMRMTYdB4BOUrTJzqIGJUrlW2IAhggWze7nh3xXuCuv7UhIw">
                  </div>
                  <!--end -->
                  <div class="brand_descrition">
                    <h2>brand name</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                  </div>
                </div>

              </div> <!--end Brand Wrapper-->


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<!--
<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(selectedadminid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>

<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(selectedbrandid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-body">
    <h1>Do you want to change Status?</h1>
    <button type="button" class="btn btn-default" (click)="togglestatus(selectedbrandid,templatecommon1)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon1>
  <div class="modal-body">
    <h1>{{message1}}</h1>

  </div>
</ng-template>
-->
