<div class="s_getmyoffer_admin_header">
  <div class="admin_header_container">
  <div class="admin_logo pull-left" [routerLink]="['/admindashboard']">
    <img src="assets/images/shaterblockLogo.png">
  </div>
  <div class="s_getmyoffer_admin_header_user">
  <span>USER TYPE :  ADMIN</span>

  <span>LOGGED IN AS :  BETO PAREDES / LANAH</span>
  <div class="s_getmyoffer_user">
    <img src="assets/images/s_music_video_userimage.jpg"  >
  </div>

  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
        <span class="caret"></span></a>
      <ul class="dropdown-menu s_getmyoffer_user_userlist">
        <li><a href="javascript:void(0)">User ...</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)">My Account</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)" >Logg Off</a></li>
      </ul>
    </li>

  </ul>
</div>
<div class="clearfix"></div>
</div>
</div>