<div class="innerhead2">
  <app-header></app-header>
</div>


<app-sidemenu></app-sidemenu>

<div class="container-fluid newwhoweareblock1">
  <div class="newwhoerareblock1wrapper">
    <div class="newwhoweareblock1imagelist">
      <div class="newwhoweareblock1image">
        <img src="../assets/images/whoweareblock1logo3.png" alt="whoweareblock1logo3">
      </div>
      <div class="newwhoweareblock1image">
        <img src="../assets/images/whoweareblock1logo1.png" alt="whoweareblock1logo1">
      </div>
      <div class="newwhoweareblock1image spmusicgroup">
        <img src="../assets/images/whoweareblock1logo2.png" alt="whoweareblock1logo2">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid newwhoweareblock2">
  <div class="newwhoerareblock2wrapper">
    <h2 class="headertitle">Our Mission</h2>
    <p>We strive to create marketing plans that will include managed talented individuals to be the faces of product placement. We coordinate and implement prestigious events & promotions to promote public awareness to influence the purchase of consumer impulse products. In a nutshell we take care of it all for you!</p>

  </div>
</div>


<div class="container-fluid newwhoerareblock3">
  <div class="newwhoerareblock3wrapper">



    <h1 class="headertitle">Who we are</h1>

    <h2>We at Shatter Blok have over 17 years of effective experience. Not only help develop talent, companies and products with their ideas in becoming and maintaining their success with face to face grassroots marketing, promotions, internet and visual trademark branding. We make it easy in helping your products & talents grow.
      <span>We thrive on the successes of our clients & our customer communication and support is unmatched.</span>
    </h2>

    <h3 class="titlediv3">Company Skills, Job Duties & Expertise</h3>

    <ul class="whowearelists">
      <li><i class="fa fa-caret-right"></i>Marketing Strategies & Campaigns</li>
      <li><i class="fa fa-caret-right"></i>Creative Team Leadership</li>
      <li><i class="fa fa-caret-right"></i>Street Team & Model Staffing</li>
      <li><i class="fa fa-caret-right"></i>Product Positioning & Branding</li>
      <li><i class="fa fa-caret-right"></i>Corporate Sales Communications</li>
      <li><i class="fa fa-caret-right"></i>Web & Print Content Development</li>
    </ul>

    <div class="whatweprodiveservice">
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg1.png"  alt="#">
        </div>
        <h2>Product Placement</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg2.png"  alt="#">
        </div>
        <h2>Event Planning and Implementation</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg3.png"  alt="#">
        </div>
        <h2>Development of Training Materials</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg4.png"  alt="#">
        </div>
        <h2>Sales Collateral & Support</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg5.png"  alt="#">
        </div>
        <h2>Public & Media Relations</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg6.png"  alt="#">
        </div>
        <h2>New Product Launch</h2>
      </div>

    </div>

  </div>
  <div class="newwhoerareblock3imgbgright">
    <img src="../assets/images/newwhoerareblock3bgright.png"  alt="#">
  </div>
</div>


<div class="container-fluid newwhoerareblock4">
  <div class="newwhoerareblock4_wrapper">
    <h2 class="headertitle">Why Should You <br>Choose Us?</h2>
    <div class="newwhoerareblock4_wrapper_content">
      <div class="newwhoerareblock4imgleft">
        <img src="../assets/images/newwhoerareblock4_imgleft.png" alt="#">
      </div>
      <p>
        <span class="redtxt">We Always Push to Do the Very Best for All Our Clients.</span>
        <strong>Shatter Blok has found that businesses need to have a professional image and stand out from the competition to establish their brand. Shatter Blok is committed in helping our clientele show consumers their products by representing their business and introducing it to the world in the best way possible.</strong>
          We care about your success and we will design, promote and execute a great product campaign that will give you more business, more traffic and the increase of revenue for your company. Being in the entertainment industry for more than 33 years and 17 of them being in the field of talent management, marketing and promotions and we will use our developed relationships to help propel a client’s career & products getting them in the rights hands for celebrity imaging and branding, restaurants, nightlife venues and retail with tons of public display options of your company’s choice.
        <span class="yellowtxt">
          We love making our clients stand out and our creative nature allows us to step outside the box and come up with clever marketing ideas for our clients.
        </span>
        We have the best customer service and yes, we know that is a bold statement, but we will assure you that we are here for and at your service when it comes to staffing with well-known and well-trained promotional models that not only will represent your product but will influence sells with knowledge base of your product. We have a history of making clients successful and well-known and you can become a part of the alumni of Shatter Blok’s client base.
      </p>
      <div class="newwhoerareblock4imgright">
        <img src="../assets/images/newwhoerareblock4_imgright.png" class="" alt="#">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid newwhoerareblock5">
  <div class="newwhoerareblock5_wrapper">
    <h2 class="headertitle">Testimonials</h2>
    <div class="testimonialsblock">
      <div class="testimonialssingleblock">
        <div class="testimonialssingleblockimgwrapper">
          <img src="../assets/images/testimonialssingleblockimg1.jpg" class="" alt="#">
        </div>
        <div class="testimonialssingleblockcontent">
          <h3>Colin Tiley <span>London Alley</span></h3>
          <p class="testimonialtxt"><span class="testimonialcommentlefticon">
            <img src="../assets/images/testimonialcommentlefticon.png" class="" alt="#"></span>
            Shatter Proof Models are great to work with, fun and very professional. I work with this company all the time when I am in need of talent for the video productions I direct.
            <span class="testimonialcommentrighticon"><img src="../assets/images/testimonialcommenrighticon.png" class="" alt="#"></span>
          </p>
        </div>
      </div>
      <div class="testimonialssingleblock">
        <div class="testimonialssingleblockimgwrapper">
          <img src="../assets/images/testimonialssingleblockimg2.jpg" class="" alt="#">
        </div>
        <div class="testimonialssingleblockcontent">
          <h3>John Vasquez <span>Owner</span></h3>
          <p class="testimonialtxt">
            <span class="testimonialcommentlefticon"><img src="../assets/images/testimonialcommentlefticon.png" class="" alt="#"></span>
            Attractive, knowledgeable and professional promotional models that were able to move and promote our product NUVO. Shatter Proof
            Marketing did and has done an amazing job creating awareness and sells in key Hollywood & Los Angeles nightlife venues. We thank you..
            <span class="testimonialcommentrighticon"><img src="../assets/images/testimonialcommenrighticon.png" class="" alt="#"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>