<div class="blankmenuiconblock innerhead1">
  <app-header></app-header>
  <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/mm-logo.png" alt="marketing management logo">
      </div>
    </div>
  </div>
</div>
<app-sidemenu></app-sidemenu>


<div class="mmbannerblock">
  <div class="mmbannertext">

    <div class="mmcontentdiv">
      <div class="mmcontentdivimgleft">
        <img src="../assets/images/mm-bannerleft-img.png" alt="mm bannerleft img">
      </div>
      <h1 class="headertitle">Succeeding<br> is our Passion</h1>

      <p>Handling amazing promotional talent, prestigious<br> events, developing impacting marketing campaigns<br> and introducing consumer impulse products is Shatter<br> Proof Marketing‘s passion.
      <span>
        We make beneficial things happen for companies such as campaign<br> development, product placement, and public awareness that include on<br> sight and in store or venue promotions and it’s what we have done for years,<br> across the entire entertainment and modern-day spectrum.<br><br><span class="bottomtxtp">We have built companies from the ground up and we know the importance of developing a strong sponsor base and<br> long-term partnerships. We also know how to build a brand, the ins and outs of grassroots marketing with an amazing staff of<br> experienced individuals. This makes us experts in product management and event logistics, with a wealth of experience<br> in print media, online media, television production & product placement.</span>
      </span>

      </p>

    </div>

  </div>
</div>





<div class="container-fluid newwhoerareblock3 mmbannerblock1">
  <div class="newwhoerareblock3wrapper">

    <h1 class="headertitle">Our Expertise</h1>

    <ul class="whowearelists">
      <li><i class="fa fa-caret-right"></i>Marketing Strategies & Campaigns</li>
      <li><i class="fa fa-caret-right"></i>Creative Team Leadership</li>
      <li><i class="fa fa-caret-right"></i>Street Team & Model Staffing</li>
      <li><i class="fa fa-caret-right"></i>Product Positioning & Branding</li>
      <li><i class="fa fa-caret-right"></i>Corporate Sales Communications</li>
      <li><i class="fa fa-caret-right"></i>Web & Print Content Development</li>
    </ul>

    <div class="whatweprodiveservice">
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg1.png"  alt="#">
        </div>
        <h2>Product Placement</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg2.png"  alt="#">
        </div>
        <h2>Event Planning and Implementation</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg3.png"  alt="#">
        </div>
        <h2>Development of Training Materials</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg4.png"  alt="#">
        </div>
        <h2>Sales Collateral & Support</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg5.png"  alt="#">
        </div>
        <h2>Public & Media Relations</h2>
      </div>
      <div class="whatweprodivesingleservice">
        <div class="whatweprodivesingleserviceimgwrapper">
          <img src="../assets/images/whatweprodivesingleserviceimg6.png"  alt="#">
        </div>
        <h2>New Product Launch</h2>
      </div>

    </div>

    <h2 class="headertitle">our resume</h2>

    <ul class="resumelists">
      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg1">
          <div class="resumesinglelists">
            <h2>2011- Present</h2>
            <ul class="resumeliststype1">
              <li>Flawless Vodka</li>
              <li>Status Vodka</li>
              <li>Japrag/Chateau Denim</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg2">
          <div class="resumesinglelists">
            <h2>2009-2011</h2>
            <ul class="resumeliststype1">
              <li>Japrag Denim</li>
              <li>Status Vodka</li>
              <li>305 Films (Casted models for music video for DJ Khalid & 305 Films Directed by Gil Green “All I Do is Win Remix”)</li>
              <li>NUVO Vodka</li>
              <li>EX Drinks</li>
              <li>Krol Vodka</li>
              <li>Agwa de Bolivia</li>
              <li>Show Magazine (Provided model(s) for high fashion event)</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg3">
          <div class="resumesinglelists">
            <h2>2008-2009</h2>
            <ul class="resumeliststype1">
              <li>The Margarita King</li>
              <li>Nuvo Sparkling Vodka</li>
              <li>M150 Energy Drink /Shark USA</li>
              <li>Project Ethos</li>
              <li>Function Drinks</li>
              <li>MMA Combat Club</li>
            </ul>
          </div>
        </div>
      </li>


      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg4">
          <div class="resumesinglelists">
            <h2>2007-2008</h2>
            <ul class="resumeliststype1">
              <li>Xtazy Energy Drink</li>
              <li>Type A Personalities</li>
              <li>DUB Presents Road Star 2008 Calendar (Provided a beautiful print model for Winter White invitation shoots plus calendar spread photo shoot and Winter Runway Show.)</li>
              <li>Petro Montego’s</li>
              <li>Trek To The Troops (Provided a beautiful spokes model to sign autographs and take pictures with our countries soldiers & troops.)</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg5">
          <div class="resumesinglelists">
            <h2>2001-2007 Club & Event Coordinator</h2>
            <ul class="resumeliststype1">
              <li>Was hired by local clubs promoters & record labels to promote, handle, organize, and setup events.</li>
              <li>
                Supervised, organized and scouted Street Team/Brand Ambassadors for:
                <ul>
                  <li>Raw Dawg Sports Energy Drink</li>
                  <li>Crunk Energy Drink</li>
                  <li>Dr. Pepper ( Code Red )</li>
                  <li>Monster</li>
                  <li>Shark U.S.A.</li>
                </ul>
              </li>
              <li>Managed, organized and setup clubs and special events.</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg7">
          <div class="resumesinglelists">
            <h2>2001</h2>
            <ul class="resumeliststype1">
              <li>
                Pit Bull Energy Drink
                <ul>
                  <li>Designed complete promotional campaign.</li>
                  <li>Supervised, organized and scouted street team.</li>
                  <li>Managed, organized and setup clubs and<br> special events.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="resumelistswrapper">
        <div class="resumelistsbg resumelistsbg6">
          <div class="resumesinglelists">
            <h2>1999-2002</h2>
            <ul class="resumeliststype1">
              <li>
                Club One Seven
                <ul>
                  <li>Handled beverage sponsorship (Pepsi, Red Bull, Dr. Pepper, and SOBE).</li>
                  <li>Managed teenage club (16-20) and hosted with KIIS FM Radio.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>



    </ul>

  </div>

</div>





<div class="newhome_sproofmarketdiv mmbannerblock2">
  <div class="newhome_sproofmarketdiv_wrapper">
    <h1>We Have Connections<br> you will Appreciate!</h1>
    <div class="newhome_sproofmarketdiv_wrapper_content">
      <div class="mmbannerblock2imgleft">
        <img src="../assets/images/mmbannerblock2_imgleft.png" alt="#">
      </div>
      <p>
        <span class="redtxt">Shatter Proof</span> Marketing has access to a Rolodex full of experts in similar sides of our field in development and resources including a deep affiliation with venture-artistry development companies with over 20 years of experience and expertise in design & marketing. We and our affiliates have excellent experience with integration of computer technology and marketing work in web design, software development (gaming & business platforms), motion picture, and music video filming & editing.
        <span class="mmbannerblock2para">Currently, we create and develop designs for iPhone, <span class="yellowtxt">Android, AR gaming applications, social networking websites.</span> With these levels of technology added to a marketing plan developed for your company there would be no way that you could not be successful in your industry of choice. Whatever the need, Shatter Proof Marketing can help you find the answers, and make what you thought may have been impossible, possible.</span>

      </p>
      <div class="mmbannerblock2imgright">
        <img src="../assets/images/mmbannerblock2_imgright.png" class="" alt="#">
      </div>
    </div>

  </div>
</div>



<app-footer></app-footer>
