<div class="s_shatter_container">
  <div class="s_footer_shatter">
    <div class="s_footer_content">
      <div class="s_footer_content_left">
        <div class="s_footer_image">
          <img src="../assets/images/shaterblockLogo.png">
        </div>
        <div class="s_footer_text">
          <p>
            Copyright © 2018 Shatter Blok - All Rights Reserved.
          </p>
          <p class="s_foter_claimer"> Powered by Godaddy</p>
        </div>
      </div>
      <div class="s_footer_content_right">
        <div class="s_footer_socialmedia">
          <ul>
            <li> <a href="javascript-void:0"><img src="../assets/images/s_facebook.png"></a></li>
            <li><a href="javascript-void:0"><img src="../assets/images/s_instagram.png"></a></li>
            <li><a href="javascript-void:0"><img src="../assets/images/s_twitter.png"></a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

