<div class="blankmenuiconblock innerhead1">
  <app-header></app-header>
  <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/shaterblockLogo.png" alt="Shatter blok Logo">
      </div>
    </div>
  </div>
</div>
<app-sidemenu></app-sidemenu>

<div class="container-fluid musicvideoblock1">
  <div class="musicvideoblock1wrapper">
    <div class="musicvideoblock1videowrapper">
      <div class="musicvideoblock1-video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LdE3WlQ__GY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <h2>Music Video Bookings</h2>
    <p>We Get Our Models in Music Videos on Consistent Basis!
      <!--Check out some of the music videos we  have associated with-->
    </p>
  </div>
</div>



<div class="newhomemodel_wrapper musicvideoblock2">
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=UqyT8IEBkvY" target="_blank">
        <img src="../assets/images/new_musicvideo_link1.jpg"  alt="#">
        <span>
          <strong>Bruno Mars</strong>
          <p>24k Magic | Model Placement (2018)</p>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Dlh-dzB2U4Y" target="_blank">

        <img src="../assets/images/new_musicvideo_link2.jpg"  alt="#">

        <span>
            <strong>Kendrick Lamar</strong>
          <p>Loyalty| Model Placement (2017)</p>

        </span>


      </a>
    </li>


    <li>
      <a href="https://www.youtube.com/watch?v=aTqilBVY3Vs" target="_blank" >

        <img src="../assets/images/new_musicvideo_link3.jpg"  alt="#">

        <span>
            <strong>Jay Z & Beyoncé</strong>
           <p>On The Run | Model Placement (2014)</p>

        </span>


      </a>
    </li>


    <li>
      <a href="https://www.youtube.com/watch?v=H5VVzbVHA7U" target="_blank" >

        <img src="../assets/images/new_musicvideo_link4.jpg"  alt="#">

        <span>
            <strong>Chris Brown ft Tyga & ScHoolBoy Q</strong>
            <p>Bitches & Marijuana | Model Placement (2015)</p>
        </span>
      </a>
    </li>
  </ul>
</div>


<div class="container-fluid musicvideoblock3">

  <div class="musicvideoblock3wrapper">
    <h2>Music Videos We have booked</h2>
    <div class="videolistswrapper">
      <ul class="videolists">
        <li> <a href="https://www.youtube.com/watch?v=6ONRf7h3Mdk" target="_blank">Travis Scott | "Sicko Mode" (dir. Dave Meyers & Travis Scott) | Model Placement (2018)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=IUcByj96dUA" target="_blank">Kali Uchis | Just A Stranger ft. Steve Lacy | Model Placement (2018)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=fGqdIPer-ms" target="_blank">Migos feat. Drake | "Walk It Talk It" (dir. Daps & Quavo) | Model Placement (2018)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=_9L3j-lVLwk" target="_blank">Young Thug | “Wyclef Jean” | Model Placement (2017)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=5mX72ENATfg" target="_blank">Ty Dolla $ign | Beach House | Model Placement (2017)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=xvZqHgFz51I" target="_blank">Future | Mask Off | Model Placement (2017)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Ukc6EnLL0uM" target="_blank">Belly | Zanzibar (Official) ft. Juicy J | Model Placement (2016)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=YXSpXO4N-tI" target="_blank">Yo Gotti | Down In the DM | Model Placement (2016)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=CCOHZ8uWhu0" target="_blank">Fabulus ft Chris Brown | She Wildin | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=drV0QatqbRU" target="_blank">Kendrick Lamar | These Walls | Model Placement (2015)</a></li>
        <li> <a href="javascript:void(0)" target="_blank">OT Genasis ft. Busta Rhymes & Young Dolph | Amped Up | Models Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=i6vT2G-axpY" target="_blank">Puff Daddy & The Family ft. Ty Dolla $ign, Gizzle | You Could Be My Lover | Models Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=qMwcsIY1GYE" target="_blank">OT Genasis ft. Young Dolph | Cut It | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=cNw8A5pwbVI" target="_blank">Pia Mia ft. Tyga & Chris Brown | Do It Again | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Z-48u_uWMHY" target="_blank">Kendrick Lamar | Alright | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=UGLx4zzMdRA" target="_blank">Iggy Azalea | Trouble ft Jennifer Hudson | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=zKCrSN9oXgQ" target="_blank">Chris Brown ft Tyga | Ayo | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Y_PwH3Wk78w" target="_blank">The-Dream | That's My Shit | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=aPbqDBVKvxc" target="_blank">XAV ft. Master P. | Bout It | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=lv5RWCQsZIU" target="_blank">NeYo | Coming With You | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=8aShfolR6w8" target="_blank">Kendrick Lamar | “I” | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=1UAIxwYEgm0" target="_blank">Snoop Dogg ft. Charlie Wilson | Peaches & Cream | Model Placement (2015)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=oqtunQ4yd30" target="_blank">Ty$ ft. Tinashe & Charli XCX | Drop That Kitty | Model Placement (2015)</a></li>
        <li> <a href="javascript:void(0)" target="_blank">OT Genasis | Yum Yum | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=XriVumRxZQU" target="_blank">Don Benjamin - Jealous ft Eric Bellinger | Model placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=vx_2ipPi_Tc" target="_blank">Mucho Deniro | 24/7 | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=-FT7twrvuSA" target="_blank">Chynna Chameleon | We Got It Like That | Model Placement (2014)</a></li>
        <li> <a href="javascript:void(0)" target="_blank">Snoop Dogg | Wazup Fool | Model placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=cjj2E9dwjjU" target="_blank">Trey Songz | Foreign | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=6DkwtsJBWvY" target="_blank">Lea Michelle | On My Way | Model Placement (2014)</a></li>
        <li> <a href="javascript:void(0)" target="_blank">International Target Commercial | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=I0E4W0wjyAc" target="_blank">Taio Cruz | Don’t You Dare | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=USboR5k0PRs" target="_blank">Jeff Jones ft. Eric Bellinger | We Gettin Drunk | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=8cyUSC8ZJKk" target="_blank">Young Money ft. Lil Wayne, Birdman, Euro | We Alright | Model Placement (2014)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=YUiVIPgJA0o" target="_blank">Enrique Iglesias ft. Pitbull | I’m A Freak | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=hSuA2DkBg7E" target="_blank">Rick Ross ft. Future | Ring Ring | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=r33Fjl-5R4U" target="_blank">Jeff Jones | Why You Do That | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=lmgEoh_r_XM" target="_blank">Pusha T. ft. Chris Brown | Sweet Serenade | Model placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=8EWINVP3B9A" target="_blank">Cher Lloyd ft. T.I. | I Wish | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=YxG5mDItkGU" target="_blank">Jay Z ft. Justin Timberlake | Holy Grail | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=K1JMjwJG2UM" target="_blank">Paris Hilton ft. Lil Wayne | Good Time | Model Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Bie2Jj4OBO4" target="_blank">Jonn Hart ft. French Montana | Who Booty (Remix) | Model & Product Placement (2013)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=qhvADUh3kZQ" target="_blank">Akon | We On | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=02JMBhxufJw" target="_blank">Jonn Hart ft. IamSu | Who Booty | Model Placement & Product (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=6ki21aILhoI" target="_blank">The Game ft. Chris brown, Tyga, Wiz Khalifa, Lil Wayne | Celebration| Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=YpugK0RpEaU" target="_blank">Kendrick Lamar ft. Dr. Dre | “The Recipe” | Model Placement (2012) *Never Released</a></li>
        <li> <a href="https://www.youtube.com/watch?v=pR26YPqNY3U" target="_blank">Tyga | “Make It Nasty” | Model Placement & Product (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dowUIWgL2OY" target="_blank">Stefano ft. New Boyz & Rock Mafia | “On A Roll” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=-p0bNOxBhgc" target="_blank">DJ Khaled ft. Lil Wayne, Nicki Minaj & Chris Brown | “Take It To The Head” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=LW9rITLjKz8" target="_blank">Nicki Minaj ft. Camron & Rick Ross | “I Am Your Leader” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=6OwdhRHWcrA" target="_blank">Chris Brown ft. Wiz Khalifa & Big Sean | “Till I Die” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=dN6k8V1NhkI" target="_blank">Kevin (K-Mac) McCall | “Naked” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=CJ6Po7fivdk" target="_blank">Chris Brown | “Sweet Love” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=SkTt9k4Y-a8" target="_blank">LMFAO | “ Sorry For Party Rockin” | Model Placement (2012)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=jcDWh0YOtJQ" target="_blank">Snoop Dogg ft. T-Pain | Boom | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=P0tsseefX-E" target="_blank">Problem ft. Ty Dolla Sign | Double Dip | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Tj0rO7P6TH0" target="_blank">Fat Joe ft Chris Brown | “Another Round” | Directed by: Colin Tilley | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=5SUC8vTEYYg" target="_blank">Chris Brown ft K-Mac | “Strip” | Directed by: Colin Tilley | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=mLS1CxnAICw" target="_blank">Freesol ft. Justin Timberlake | “Fascinated” | Directed by: Colin Tilley | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=2C5OoKK_to4" target="_blank">Kid Ink | “Lokey Poppin” | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=VvMuLmhyeow" target="_blank">Bobby Brackins | “Filmore Slim” | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=xBIfffmQR-4" target="_blank">Tyga | “Far Away” | Directed by: Chris Robinson | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=iW1W34A-n4I" target="_blank">Lloyd ft. Andre 3000 | “Dedicated To My Ex” | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=KIcxI3D-sdk" target="_blank">Rick Ross |”9 Piece” | Directed by: Gil Green | Product Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=EPo5wWmKEaI" target="_blank">PitBull | “Give Me Everything” | Model Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=p4kVWCSzfK4" target="_blank">David Guetta |“Where Them Girls At”| Directed by: Dave Meyer | Model & Product Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=9ha5ujHnYXg" target="_blank">David Guetta | “Little Bad Girl” | Directed by: Dave Meyer | Model & Product Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=2CGF_Z3yZAo" target="_blank">Jason Derulo | “Don’t Want To go Home” | Model placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=EIQP5JlqtX0" target="_blank">P. Ditty & Dirty Money | “Hurt” | Directed by : Gil Green | Mode Placement (2011)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=0SIetxPjTBs" target="_blank">Lil Jon Ft. R. Kelly & Mario | “Ms. Chocolate” | Product Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Tw8baDWcER4" target="_blank">Lil Jon Ft. 3OH!3 | “Hey” | Model Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=YA-MMmJAi8A" target="_blank">The Dream | “Make Up Bag” | Product Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=VwvADgghhvs&list=LL3I...index=79" target="_blank">Barbie ft. Trina | “See About Me” | Directed by: BenMarc | Model & Product Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=SY5bSyqbt_g" target="_blank">Marques Houston | “Ghetto Angel” | Directed by: Zeus | Model & Product Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=-pkvpkh5jAE" target="_blank">Marques Houston | “Noize” | Directed by: Zeus | Model & Product Placement (2010)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=GGXzlRoNtHU" target="_blank">DJ Khalid | “All I Do Is Win” | Directed By; Gil Green | Model & Product Placement (2010)</a></li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
