<app-header></app-header>

<div class="s_shatter_container" >
  <div class="s_shatter_banner">
    <div class="s_banner_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/s_modelandtalent_bannerBG.jpg" alt="Los Angeles">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spec
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/s_modelandtalent_bannerBG.jpg" alt="Chicago">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
          </div>

          <div class="item">
            <img src="../assets/images/s_modelandtalent_bannerBG.jpg" alt="New York">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <h5>is simply dummy text</h5>
              <h4>Of the printing and</h4>
              <p>typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spec
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!--start subscribe-->
<div class="s_shatter_container s_shatter_container1st s_model_booking_container">
  <div class="s_subscribe s_model_booking">
    <div class="s_subscribe_left">
      <label>booking | rates</label>
      <div class="s_inputbox">
        <input type="text" placeholder="email address"> <button>sign up</button>
      </div>
    </div>
    <div class="s_subscribe_right s_model_booking_right_sec">
      <div class="s_subs_image s_model_booking_image">
        <img src="../assets/images/s_model_booking_image.jpg">
      </div>
      <div class="s_subsribe_caption">
        <h3>Lorem Ipsum</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
        <a href="">view more ></a>
      </div>
    </div>
  </div>
</div>

<!--model-->

<div class="s_shatter_container s_shatter_container2nd s_modelandtallent_container">
  <div class="s_model_review_section">
    <div class="s_model_heading">
      <h1>models | talents</h1>
    </div>

    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_Brandi.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_Sandra.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Sandra Sago</h4>
              <p>
                Having a big sale, on-site
                celebrity, or other event? Be sure to announce it so
                everybody knows and gets excited about it.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">
        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_Nessa.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Nessa Marie</h4>
              <p>
                Are your customers raving about you on social media? Share their great stories to help turn potential customers into loyal ones.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_Ashley.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Ashley Lucero</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img5.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img6.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

              <button>see more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content_viewall">
      <button class="s_model_viewAll mr-0">VIEW ALL <img src="../assets/images/s_viewall.png" > </button>
    </div>
    <br>
    <br>
    <!--view all two-->
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img7.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img8.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img9.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img10.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img11.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content s_modelandtallent_content">
      <div class="s_model_inner_content s_modelandtallent_inner_content">

        <div class="kb_imgwrapper s_modelandtallent_image_wrapper">
          <img src="../assets/images/s_model_img12.jpg">
        </div>
        <div class="s_model_description">
          <div class="s_model_description_left">
            <div class="s_model_profile_block s_modelandtallent_profile_content">
              <h4>Brandi Lawrence</h4>
              <p>
                If customers can’t find it, it doesn’t exist. Clearly list and describe the services you offer. Also, be sure to showcase a premium service.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="s_model_content_viewall">
      <button class="s_model_viewAll mr-0">VIEW ALL <img src="../assets/images/s_viewall.png" > </button>
    </div>
  </div>
</div>

<!--second section-->



<div class="s_shatter_container">
  <div class="s_contact_block">
    <div class="s_contact_block_bg">
      <div class="s_contact_heading">
        <h1>contact us</h1>
      </div>
      <div class="s_contactform_content">
        <div class="s_content_left">
          <h2>Shatter Blok</h2>

          <p>
            Lorem Ipsum is simply dummy<br>
            text of the printing and<br>
            typesetting industry.
          </p>
        </div>
        <div class="s_content_right">
          <h2>have a question?</h2>
          <div class="s_contact_block_form">
            <form>
              <input type="text" name="name" placeholder="Name"> <input type="email" name="email" placeholder="Email Address">
              <textarea type="text" placeholder="Message *"></textarea>
              <button class="s_form_submit">send</button>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>