<!--hi-->

<app-header></app-header>


<app-sidemenu></app-sidemenu>



<div class="newhomeslider">
    <!-- <div id="newmyCarousel" class="carousel slide" data-ride="carousel">
         &lt;!&ndash; Indicators &ndash;&gt;

         &lt;!&ndash; Wrapper for slides &ndash;&gt;
         <div class="carousel-inner">
             <div class="item active">
                 <div class="animation-box">
                     <div class="first-text"><h1>Shatterproof Models</h1></div>
                 </div>
                 <div class="fill" style="background-image:url('../../assets/images/new_home_slider1.jpg')"  alt="#"></div>
             </div>

             <div class="item">
                 <div class="animation-box">
                     <div class="first-text second-text"><h1>Shatter Proof<br>Music Group</h1></div>
                 </div>
                 <div class="fill" style="background-image:url('../../assets/images/new_home_slider2.jpg')"  alt="#"></div>
             </div>

             <div class="item">
                 <div class="animation-box">
                     <div class="first-text third-text"><h1>Shatter Proof<br> Marketing</h1></div>
                 </div>
                 <div class="fill slider3img" style="background-image:url('../../assets/images/new_home_slider3.jpg')"  alt="#"></div>
             </div>
         </div>

         &lt;!&ndash; Left and right controls &ndash;&gt;
         <a class="left carousel-control" href="#newmyCarousel" data-slide="prev">
             &lt;!&ndash;<span class="glyphicon glyphicon-chevron-left"></span>
             <span class="sr-only">Previous</span>&ndash;&gt;
         </a>
         <a class="right carousel-control" href="#newmyCarousel" data-slide="next">
             &lt;!&ndash; <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>&ndash;&gt;
         </a>
     </div>-->


    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>-->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">

                <div class="fill" style="background-image:url('../../assets/images/new_home_slider1.jpg');"></div>
                <div class="animation-box">
                    <div class="firstcarousal"><h1>Shatter proof Models</h1></div>
                </div>
            </div>
            <div class="item">

                <div class="fill" style="background-image:url('../../assets/images/new_home_slider2.jpg');"></div>
                <div class="animation-box">
                    <div class="firstcarousal secondcarousal"><h1>Shatter Proof<br>Music Group</h1></div>
                </div>
            </div>
            <div class="item">

                <div class="fill slider3img" style="background-image:url('../../assets/images/new_home_slider3.jpg');"></div>
                <div class="animation-box">
                    <div class="firstcarousal thirdcarousal"><h1>Shatter Proof<br> Marketing</h1></div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

</div>

<div class="newhomemodel_wrapper">
    <ul>
        <li>
            <a href="javascript:void(0)" >
                <img src="../assets/images/new_home_model_link1.jpg"  alt="#">
                <span>
            <strong>Marketing & Promotions</strong>
                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->

        </span>


            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >

                <img src="../assets/images/new_home_model_link2.jpg"  alt="#">

                <span>
            <strong>Models | Talent</strong>
                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->

        </span>


            </a>
        </li>


        <li>
            <a href="javascript:void(0)" >

                <img src="../assets/images/new_home_model_link3.jpg"  alt="#">

                <span>
            <strong>Music Distribution</strong>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->

        </span>


            </a>
        </li>


        <li>
            <a href="javascript:void(0)" >

                <img src="../assets/images/new_home_model_link4.jpg"  alt="#">

                <span>
            <strong>Media</strong>
                    <!--  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->

        </span>


            </a>
        </li>
    </ul>
</div>

<div class="newhome_about">
    <div class="newhome_about_wrapper">

        <!--<img src="../assets/images/new_home_about.png"  alt="#">-->

        <h1>About Us</h1>

        <!--<h2><span>Shatter Blok</span> is the parent company of a boutique of experienced and productive companies that assist and improve the entertainment industry and impulse products. <strong>Shatter Proof Marketing,
            Shatter Proof Models, Shatter Proof Music Group.</strong></h2>-->


        <h2><span>Shatter Blok</span> is the parent company of a
            boutique of experienced and productive companies that assist and improve the
            entertainment industry and impulse products.</h2>

        <h2 class="btndivhomenew"><strong><a class="btnyellow" [routerLink]="['/clients-campaigns']">Shatter Proof Marketing</a> <a class="btnyellow" [routerLink]="['/model-talent-division']">Shatter Proof Models</a> <a class="btnyellow" [routerLink]="['/music-division']">Shatter Proof Music Group</a> <a class="btnyellow" [routerLink]="['/#']">Shatter Proof Media</a></strong></h2>

        <!--    <p>Founded and created in 1999, Shatter Blok is a Los Angeles, California based company has done  <span>Marketing</span>,  <span>Promotions</span>,
                <span>Model Management</span>, staffing and musical digital distribution for some of the most amazing up and coming new faces in modeling, some of the hottest clubs, radio stations, record labels, clothing, foot wear lines, and beverage companies in and around Los
                Angeles, Hollywood, California Bay areas, Las Vegas, Arizona and Florida.
                <br/> <br/>
                <strong>Shatter Blok</strong> can further promote, acquire, manage and develop impulse products commercial modeling talent, musical artistry,
                producers and writers.
            </p>-->


        <p>
            Founded and created in 1999 by Shatto Brown, Shatter Blok is a Los Angeles, California
            based company that has done and doing  <span>Marketing</span>,  <span>Promotions</span>,  <span>Model Management</span>, staffing
            and Multimedia for Visual and Musical Digital Distribution. Shatter Blok works with amazing
            up and coming new faces in modeling, some of the hottest night life venues, radio stations,
            record labels, clothing, foot wear lines, and beverage companies in and around California and
            its Bay areas, Nevada, Arizona, New York and Florida. <br/> <br/>
            <strong>Shatter Blok</strong> can further promote, acquire, manage and develop impulse products commercial
            modeling talent, musical artistry, producers and writers.

        </p>
        <div class="btncheckshatterproof">
            <a [routerLink]="['/whoweare/']" target="_blank" class="btnyellow">Learn More About us</a>
        </div>
    </div>
</div>

<div class="newhome_sproofmarketdiv">
    <div class="newhome_sproofmarketdiv_wrapper">
        <h2>Shatter Proof <br>Marketing</h2>
        <div class="newhome_sproofmarketdiv_wrapper_content">
            <div class="newhomesproofmarketdivimgleft">
                <img src="../assets/images/newhome_sproofmarketdiv_imgleft.png" alt="#">
            </div>
            <!-- <p>Shatter Proof Marketing conducts product placement campaigns, while utilizing
                 Shatter Proof Models for on and off premise promotion campaigns.<br><br>

                 We have built companies from the ground up and we know the importance of developing
                 a strong sponsor base and long-term partnerships. We also know how to build a brand,
                 the ins and outs of grassroots marketing with an amazing staff of experienced individuals.
                 This makes us experts in product management and event logistics, with a wealth of
                 experience in <span>print media, online media, television production & product placement.</span>
             </p>-->

            <p>
                <span>Shatter Proof Marketing</span> will implement & conduct campaigns that will help move your products
                while utilizing <span>Shatter Proof Model’s</span> talented staffing of promotional models for on and off premise
                promotions.<br><br>
                We have built companies from the ground up and we know the importance of developing a strong
                foundation with long‐term partnerships. We also know how to build brands, the ins and outs of
                grassroots marketing with a staff of experienced individuals that are well trained knowledge of the
                products we are hired to represent. <span>This makes us experts in product management and event
                    logistics, with a wealth of experience in print media, online media, television production & product
                    placement.</span>

            </p>
            <p class="newhome_sproofmarketdivcommentbox">
                <span class="newhomesproofmarketlefticon"><img alt="#" src="../assets/images/newhomesproofmarketlefticon.png"></span>
                Attractive, knowledgeable and professional promotional models that were able to move and promote our product NUVO. Shatter Proof Marketing did and has done an amazing job creating awareness and sells in key Hollywood & Los Angeles nightlife venues. We thank you..
                <span class="newhomesproofmarketrighticon"><img alt="#" src="../assets/images/newhomesproofmarketrighticon.png"></span>
            </p>
            <h3>
                <span>John Vasquez - Owner</span>
                <a href="http://www.sparklingnuvo.com/" class="linkcls" target="_blank">http://www.sparklingnuvo.com/</a>
            </h3>
            <div class="btncheckshatterproof">
                <a [routerLink]="['/clients-campaigns']" target="_blank" class="btnyellow">Check out our Marketing Division</a>
            </div>

            <div class="newhomesproofmarketdivimgright">
                <img src="../assets/images/newhome_sproofmarketdiv_imgright.png" class="" alt="#">
            </div>
        </div>

    </div>
</div>

<div class="newhome_sproofmodeldiv">
    <div class="newhome_sproofmodeldiv_wrapper">
        <h2>Shatter Proof <br>Model | Talent</h2>
        <div class="newhome_sproofmodeldiv_wrapper_content">
            <div class="newhomesproofmodeldivimgleft">
                <img src="../assets/images/newhome_sproofmodeldiv_imgleft.png" alt="#">
            </div>
            <div class="newvideodivwrapper">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LdE3WlQ__GY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <h3><!--We get our models on to music videos on consistent basis.-->We get our Models | Talent and Clients into major artist’s <br>music video productions.<a [routerLink]="['/booked-work']" target="_blank" class="btnred">Music Video Bookings</a></h3>
            <p>
                <!--<span>Shatter Proof Models</span> is the division that handles  commercial modeling talent for publications, product & branding promotions and places talent public career enhancements such as major music videos, TV commercials, and small & big screen motion pictures.-->
                <span>Shatter Proof Models | Talent</span> is the division that handles commercial modeling | talent for
                publications, product placement & branding promotions. We take pride in representing our talent
                with experienced personalized and motivating management in shaping the careers of choice and
                placing our talent in productive music video productions, print & digital publications, TV commercials,
                and small & silver screen motion pictures.
            </p>
            <div class="btncheckshatterproof">
                <a [routerLink]="['/model-talent-division/']" target="_blank" class="btnred"><!--Check out Shatter Proof Modeling-->Check
                    Out Our Model | Talent Division</a>
            </div>
            <div class="newhomesproofmodeldivimgright">
                <img src="../assets/images/newhome_sproofmodeldiv_imgright.png" class="" alt="#">
            </div>

        </div>
    </div>
</div>

<div class="newhome_sproofmusicgroupdiv">
    <div class="newhome_sproofmusicgroupdiv_wrapper">
        <h2>Shatter Proof <br>Music Group</h2>
        <div class="newhome_sproofmusicgroupdiv_wrapper_content">
            <p>
                <span>Shatter Proof Music Group’s</span> division develops and issues digital distribution deals for musical artistry, producers and writers. These distribution deals include the open door assistance in the possibility of media placement on nationwide placement with major radio and TV placements.<br><br>
                We have relationships at our disposal that are knowledgeable individuals whose accolades, along with airtight music media campaigns and marketing plans that can assist to solidify brand awareness & and worldwide radio placements needed to propel a label/artist/producer as a heavy hitter in the music industry. Believe us when we say joining us Will Help You WIN!!!
            </p>
            <div class="sponsorblockwrapper">
                <div class="sponsorblock">
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img1.png" alt="#">
                </div>
                <div class="sponsorblock">
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img2.png" alt="#">
                </div>
                <div class="sponsorblock">
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img3.png" alt="#">
                </div>
                <div class="sponsorblock"><!---sponsorblockgraybg--->
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img4.png" alt="#">
                </div>
                <div class="sponsorblock">
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img5.png" alt="#">
                </div>
                <div class="sponsorblock">
                    <img src="../assets/images/newhome_sproofmusicgroupdiv_img6.png" alt="#">
                </div>
            </div>

            <div class="btncheckshatterproof">
                <a  [routerLink]="['/music-division']" target="_blank" class="btngreen">Check out our Music Division</a>
            </div>
        </div>
    </div>
</div>

<div class="newhome_contactusdiv">
    <div class="formdivwrapper">
        <h2>Contact Us</h2>
        <div class="formdivwrapper_content">
            <form [formGroup]="myForm" (ngSubmit)="doSubmit(mysuccess)">
                <div class="form-row">
                    <div class="form-group col-xs-6 formpaddingright">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name *" [formControl]="myForm.controls['firstname']" (keyup)="issubmit=0">
                        <span class="error" *ngIf="!myForm.controls['firstname'].valid && myForm.controls['firstname'].touched && issubmit == 1">First Name field is required.</span>
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name *" [formControl]="myForm.controls['lastname']" (keyup)="issubmit=0">
                        <span class="error" *ngIf="!myForm.controls['lastname'].valid && myForm.controls['lastname'].touched && issubmit == 1">Last Name field is required.</span>
                    </div>
                    <div class="form-group col-xs-6 formpaddingright">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email *" [formControl]="myForm.controls['email']" (keyup)="issubmit=0">
                        <span class="error" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched && issubmit == 1 ">Email field is required Give proper email id.</span>
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone *" [formControl]="myForm.controls['phone']" (keyup)="issubmit=0">
                        <span class="error" *ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched && issubmit==1">Phone field is required.</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-xs-12">
                        <textarea class="form-control" name="message" id="validationTextarea" placeholder="Message *" rows="3" required [formControl]="myForm.controls['message']" (keyup)="issubmit=0"></textarea>
                        <span class="error" *ngIf="!myForm.controls['message'].valid && myForm.controls['message'].touched && issubmit == 1">Message Box field is required.</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-row">
                    <div class="form-group col-xs-12 text-right">
                        <div class="btncheckshatterproof">
                            <button type="submit" class="btnyellow" data-toggle="modal" [disabled]="!myForm.valid">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #mysuccess>
    <div class="modal-body brandmanagement_modal successmodal">
        <div class="cross">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">X</button>
        </div>
        <div class="logo_wrapper">
            <img src="../../assets/images/shaterblockLogo.png">
        </div>
        <h2 class="message_success text-center">Successful</h2>
        <p class="text-center">THANK YOU FOR CONTACTING SHATTERBLOK! WE WILL GET BACK TO YOU WITH A RESPONSE AS SOON AS POSSIBLE.</p>

    </div>
</ng-template>

<app-footer></app-footer>




